body

{

	background-color: #ffffff;

}

#mainCanvas

{
	background-color: #ffffff;
	z-index: 3;
}

#theTable{
	width: 400px;
	margin: 10px auto;
}
#theTable td{
	text-align: center;
}

#infoDiv
{
	background-color: #ffffff;
	z-index: 4;
	display:inline-block;
	font-size: 13px;
}

#statArea{
	background-color: #ffffff;
	border: none;
	resize: none;
	color: #000000;
	text-align: center;
	font-size: 13px;
}